<aside class="primary-nav" id="primaryNav" data-off-canvas data-position="right">
  <h1 class="show-for-large primary-nav__logo">
    <a href="{{ site.url }}">
      <img src="{{ TimberImage(options.header_logo).src }}" alt="{{ site.name }}">
    </a>
  </h1>
  <ul class="menu vertical large-horizontal"
    data-responsive-menu="drilldown large-dropdown"
    data-parent-link="true">
  {% for item in menu.get_items %}
    <li>
      <a
        href="{{ item.get_link }}"
        {% if item.target %} target="{{ item.target }}"{% endif %}>
        {{item.title}}
      </a>
      {% if item.get_children %}
      <ul class="nested menu submenu vertical">
        {% for child in item.get_children %}
          <li>
            <a
              href="{{ child.get_link }}"
              {% if child.target %} target="{{ child.target }}"{% endif %}>
              {{ child.title }}
            </a>
          </li>
        {% endfor %}
      </ul> <!-- /.menu.nested -->
      {% endif %}
    </li>
  {% endfor %}
  </ul> <!-- /.menu -->
</aside> <!-- /.off-canvas -->
