<section class="accordion-list module
  {% if module.accordion_list_background == 'primary' %}
    module--primary
  {% elseif module.accordion_list_background == 'secondary' %}
    module--secondary
  {% elseif module.accordion_list_background == 'dark' %}
    module--dark
  {% else %}
    module--none
  {% endif %}">
  <div class="row">
    <div class="small-12 columns">
      {% if module.accordion_list_headline %}
        <h3 class="accordion-list__title">
          {{ module.accordion_list_headline }}
        </h3>
      {% endif %}
      {% for block in module.accordion_list_item %}
        <div class="accordion-list__item">
          {% if block.accordion_list_item_title %}
            <h4 class="accordion-list__item-title"
              data-accordion-toggle=".accordion-list__item-content">
              {{ block.accordion_list_item_title }}
              <button class="accordion-list__item-toggle">
                <svg class="icon icon-plus">
                  <title>Show</title>
                  <use xlink:href="#plus"></use>
                </svg>
                <svg class="icon icon-minus">
                  <title>Hide</title>
                  <use xlink:href="#minus"></use>
                </svg>
              </button>
            </h4>
          {% endif %}
          <div class="accordion-list__item-content">
            {% if block.accordion_list_item_body %}
              <div class="accordion-list__item-body">
                {{ block.accordion_list_item_body }}

                {% if block.accordion_list_button %}
                  <div class="accordion-list__buttons">
                    {% for button in block.accordion_list_button %}
                      <a
                        class="button
                        {% if button.button_color_override %}
                          button--{{ button.button_color_override }}
                        {% else %}
                          {% if loop.last %}button--outline{% endif %}
                          {% if button.button_icon != 'none' %}button--has-icon{% endif %}
                        {% endif %}"
                        href="{{ button.button_url }}"
                        {% if button.new_tab %}target="_blank"{% endif %}>
                        <span class="button__text">
                          {% if button.button_icon != 'none' %}
                            <svg class="icon">
                              <title>{{ button.button_icon }}</title>
                              <use xlink:href="#{{ button.button_icon }}"></use>
                            </svg>
                          {% endif %}
                          {{ button.button_text }}
                        </span>
                      </a>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
