<section class="text-image-block
  text-image-block--image-{{ module.text_image_block_alignment }}

  {% if module.text_image_block_image_size == 'one_third' %}
    text-image-block--image-one-third
  {% endif %}

  {% if module.text_image_block_background == 'primary' %}
    text-image-block--primary
  {% elseif module.text_image_block_background == 'secondary' %}
    text-image-block--secondary
  {% elseif module.text_image_block_background == 'dark' %}
    text-image-block--dark
  {% endif %}">
  {% if module.text_image_block_image %}
    <div class="text-image-block__image"
      style="background-image: url({{ TimberImage(module.text_image_block_image).src }});">
    </div>
  {% endif %}
  <div class="row">
    <div class="small-12 medium-6 columns
      {% if module.text_image_block_image_size == 'one_third' %}
        large-8
        {% if module.text_image_block_alignment == 'left' %}
          large-push-4
        {% endif %}
      {% endif %}
      {% if module.text_image_block_alignment == 'left' %}
        medium-push-6
      {% endif %}">
      <div class="text-image-block__content">
        {% if module.text_image_block_title %}
          <h3 class="text-image-block__title">
            {{ module.text_image_block_title }}
          </h3>
        {% endif %}
        {% if module.text_image_block_subtitle %}
          <h5 class="text-image-block__subtitle">
            {{ module.text_image_block_subtitle }}
          </h5>
        {% endif %}
        <div class="text-image-block__body">
          {{ module.text_image_block_body }}
        </div>
        {% if (module.text_image_block_button_1_text and module.text_image_block_button_1_url) or (module.text_image_block_button_2_text and module.text_image_block_button_2_url) %}
          <div class="text-image-block__buttons">
            {% if module.text_image_block_button_1_text and module.text_image_block_button_1_url %}
              <a class="button button--small
                {% if module.button_1_color_override %}
                  button--{{ module.button_1_color_override }}
                {% endif %}"
                href="{{ module.text_image_block_button_1_url }}"
                {% if module.new_tab_1 %}target="_blank"{% endif %}>
                {{ module.text_image_block_button_1_text }}
              </a>
            {% endif %}
            {% if module.text_image_block_button_2_text and module.text_image_block_button_2_url %}
              <a class="button button--small
                {% if module.button_2_color_override %}
                  button--{{ module.button_2_color_override }}
                {% else %}
                  button--outline
                {% endif %}"
                href="{{ module.text_image_block_button_2_url }}"
                {% if module.new_tab_2 %}target="_blank"{% endif %}>
                {{ module.text_image_block_button_2_text }}
              </a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
