<section class="three-up-content module
  {% if module.three_up_content_background == 'primary' %}
    module--primary
  {% elseif module.three_up_content_background == 'dark' %}
    module--dark
  {% else %}
    module--none
  {% endif %}">
  <div class="row">
    <div class="small-12 columns">
      {% if module.three_up_content_title %}
        <h2 class="three-up-content__title">{{ module.three_up_content_title }}</h2>
      {% endif %}
      <div class="three-up-content__blocks">
        {% for block in module.three_up_content_blocks %}
          <div class="three-up-content__block">
            <div class="three-up-content__block__content">
              {% if block.three_up_content_block_icon %}
                <div class="three-up-content__block__icon">
                  <img src="{{ TimberImage(block.three_up_content_block_icon).src }}">
                </div>
              {% endif %}
              {% if block.three_up_content_block_title %}
                <h3 class="three-up-content__block__title">{{ block.three_up_content_block_title }}</h3>
              {% endif %}
              {% if block.three_up_content_block_body %}
                <div class="three-up-content__block__body">
                  {{ block.three_up_content_block_body }}
                </div>
              {% endif %}
            </div>
            {% if block.three_up_content_block_button_text and block.three_up_content_block_button_url %}
              <div class="three-up-content__block__button">
                <a class="button button--small
                  {% if module.three_up_content_background != 'none' %}
                    button--inverse
                  {% endif %}" href="{{ block.three_up_content_block_button_url }}">
                  {{ block.three_up_content_block_button_text }}
                </a>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      {% if module.three_up_content_button_text and module.three_up_content_button_url %}
        <a class="three-up-content__button button
          {% if module.three_up_content_background != 'none' %}
            button--inverse
          {% endif %}" href="{{ module.three_up_content_button_url }}">
          {{ module.three_up_content_button_text }}
        </a>
      {% endif %}
    </div>
  </div>
</section>
