<section class="two-up-cta">
  {% for block in module.two_up_cta_blocks %}
    <div class="two-up-cta__block
      {% if block.two_up_cta_background == 'dark' %}
        two-up-cta__block--dark
      {% elseif block.two_up_cta_background == 'primary' %}
        two-up-cta__block--primary
      {% elseif block.two_up_cta_background == 'secondary' %}
        two-up-cta__block--secondary
      {% endif %}">
      <div class="two-up-cta__content">
        {% if block.two_up_cta_title %}
          <h2 class="two-up-cta__title">{{ block.two_up_cta_title }}</h2>
        {% endif %}
        {% if block.two_up_cta_body %}
          <div class="two-up-cta__body">
            {{ block.two_up_cta_body }}
          </div>
        {% endif %}
        {% if block.two_up_cta_button_text and block.two_up_cta_button_url %}
          <div class="two-up-cta__button">
            <a class="button
              {% if block.button_color_override %}
                button--{{ block.button_color_override }}
              {% endif %}"
              href="{{ block.two_up_cta_button_url }}"
              {% if block.new_tab %}target="_blank"{% endif %}>
              {{ block.two_up_cta_button_text }}
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</section>
